@media all {

  //-------------- global styles
  .after-line {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      width: 59px;
      height: 1px;
      box-sizing: border-box;
      background: #fff;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  #to-top {
    font: normal 20px "Cinzel-Bold";
    position: fixed;
    left: 20px;
    bottom: 50px;
    color: #fff;
    cursor: pointer;
    animation: move-sword 1s linear infinite;
    .sword {
      background: url("../img/sword.png") no-repeat;
      height: 146px;
      background-size: contain;
    }
    p {
      margin: 0;
      transform: rotate(90deg);
      user-select: none;
      position: relative;
      top: -74px;
      left: 18px;
    }
  }
  @keyframes move-sword {
    0%{bottom: 35px}
    50%{bottom: 50px}
    100%{bottom: 35px}
  }
  //-------------- global styles

  //------ header mobile navigation styles
  #mobile-nav-btn {
    display: none;
  }
  //------ header mobile navigation styles

  //-------------- header styles
  header {
    background: #303030 url('../img/header-bg.png') center no-repeat;
    background-size: cover;
    height: 524px;
    position: relative;
  }
  .header-content {
    &__top {
      display: flex;
      justify-content: space-between;
    }
  }
  .content {
    width: 100%;
    max-width: 1100px;
    box-sizing: border-box;
    padding: 0 30px;
    margin: 0 auto;
  }
  .navigation {
    margin-top: 28px;
    margin-left: 26px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        &:not(:first-child) {
          margin-left: 34px;
        }
        a {
          text-decoration: none;
          font: normal 18px "Cinzel-Regular";
          color: #a2c5c5;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
  .registration-nav {
    margin-top: 30px;
    a {
      text-decoration: none;
      color: #a2c5c5;
      font: normal 18px "Cinzel-Regular";
      position: relative;
      padding: 0 9px;
      &:hover {
        color: #fff;
      }
      &:first-child {
        &:after {
          content: '';
          background: #a2c5c5;
          width: 1px;
          display: block;
          position: absolute;
          right: -3px;
          top: 2px;
          height: 20px;
        }
      }
      &:last-child {
        letter-spacing: -2.5px;
      }
    }
  }
  .social {
    position: absolute;
    left: 0;
    top: 117px;
    &__one {
      width: 120px;
      height: 60px;
      background: #00655c url("../img/green-hearth.png") 25px center no-repeat;
      border-top-right-radius: 35px;
      border-bottom-right-radius: 35px;
      display: flex;
      align-items: center;
      position: relative;
      left: -93px;
      transition: all 0.5s linear;
      a {
        text-decoration: none;
        color: #fff;
        font: normal 0px "Cinzel-Regular";
        margin-left: 2px;
        padding: 18px 20px 18px 0;
      }
      .fb-icon {
        position: absolute;
        right: -15px;
        top: 50%;
        transform: translateY(-50%);
        img {
          width: 31px;
          height: 31px;
        }
      }
      &:hover {
        left: 0;
        transition: all 0.5s linear;
        a {
          font-size: 16px;
        }
      }
      &:not(:first-child) {
        margin-top: 23px;
      }
    }
  }
  .header-slider {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .one-slide {
      color: #fff;
      text-align: center;
      outline: none;
      .slide-container {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        h3 {
          font: normal 42px "Cinzel-Bold";
          position: relative;
          max-width: 490px;
          width: 100%;
          line-height: 52px;
          letter-spacing: -2px;
          &:after {
            content: '';
            position: absolute;
            width: 59px;
            height: 1px;
            box-sizing: border-box;
            background: #fff;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        p {
          margin-top: 15px;
          line-height: 25px;
          max-width: 490px;
          width: 100%;
          font: normal 21px "Cinzel-Regular";
        }
      }
    }
    .slick-arrow {
      border: none;
      font-size: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 8888;
      cursor: pointer;
      outline: none;
    }
    .slick-next {
      background: url("../img/non-active-arrow.png") no-repeat;
      width: 52px;
      height: 78px;
      right: 0;
      left: auto;
      &:hover {
        background: url("../img/active-arrow-right.png") no-repeat;
      }
    }
    .slick-prev {
      background: url("../img/non-active-arrow-left.png") no-repeat;
      width: 52px;
      height: 78px;
      left: 0;
      right: auto;
      &:hover {
        background: url("../img/active-arrow-left.png") no-repeat;
      }
    }
    .slick-dots {
      margin-top: 37px;
      list-style: none;
      display: flex;
      justify-content: center;
      li {
        margin: 0 5px;
        button {
          background: #6d6d6d;
          width: 10px;
          height: 10px;
          font-size: 0;
          border: none;
          border-radius: 50%;
          cursor: pointer;
          outline: none;
          &:focus {
            outline: none;
          }
        }
      }
      .slick-active {
        button {
          background: #23a8b3;
          width: 15px;
          height: 15px;
        }
      }
    }
  }
  .quick-donation {
    button {
      font: normal 18px "Cinzel-Bold";
      background: none;
      color: #fff;
      position: absolute;
      left: 50%;
      bottom: 17px;
      transform: translateX(-50%);
      border: none;
      outline: none;
      cursor: pointer;
      white-space: nowrap;
    }
  }
  //-------------- header styles

  //-------------- main styles
  main {
    background: #303030;
    color: #fff;
    position: relative;
    top: -1px;
  }
  .server-news {
    &__title {
      font: normal 37px "Cinzel-Bold";
      h4 {
        display: inline-block;
        position: relative;
        &:after {
          content: '';
          max-width: 260px;
          width: 100%;
          height: 2px;
          background: linear-gradient(to right ,#fff,#303030);
          position: absolute;
          bottom: 22px;
          left: auto;
          margin-left: 25px;
        }
      }
    }
    &__some-news {
      margin-top: 3px;
      display: flex;
      justify-content: space-between;
      .one-news {
        width: 285px;
        display: flex;
        flex-direction: column;
        h6 {
          margin: 20px 0;
          font: normal 25px "Cinzel-Regular";
          color: #18ada0;
          text-align: center;
        }
        p {
          margin: 20px 0;
          font: normal 14px "Cinzel-Regular";
        }
      }
    }
  }
  .main-bottom-bg {
    margin-top: 35px;
    background: url("../img/main-bottom-bg.png") center no-repeat;
    background-size: cover;
    height: 95px;
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
  }
  //-------------- main styles
}

@media screen and (max-width: 1240px) {
  //--------------------- header styles
  .header-slider {
    width: 90%;
    margin: 0 auto;
  }
  //--------------------- header styles
}

@media screen and (max-width: 1000px) {
  //--------------------- main styles
  .server-news {
    &__title {
      display: flex;
      justify-content: center;
      h4 {
        transform: translateX(-50%)
      }
    }
    &__some-news {
      flex-direction: column;
      align-items: center;
      .one-news {
        width: 90%;
      }
    }
  }
  //--------------------- main styles
}

@media screen and (max-width: 768px) {
  //------ header styles
  .header-content {
    &__top {
      flex-direction: column;
      background: rgba(0,0,0,0.8);
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      z-index: 9998;
      transition: all 1s linear;
    }
  }
  .navigation {
    margin: 30px 0 0;
    ul {
      display: flex;
      flex-direction: column;
      li {
        margin: 15px 0;
        text-align: center;
        &:not(:first-child) {
          margin: 15px 0;
        }
        a {
          font-size: 22px;
          color: #fff;
        }
      }
    }
  }
  .registration-nav {
    text-align: center;
    padding: 0 0 30px;
    a {
      color: #fff;
      font-size: 22px;
    }
  }
  //------ header styles

  //------ header mobile navigation styles
  #mobile-nav-btn {
    display: block;
    width: 50px;
    height: 42px;
    position: fixed;
    z-index: 9999;
    right: 30px;
    top: 26px;
    margin: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    span {
      display: block;
      position: absolute;
      height: 7px;
      width: 100%;
      background: #fff;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
      &:nth-child(1) {
        top: 0px;
      }
      &:nth-child(2){
        top: 15px;
      }
      &:nth-child(3){
        top: 30px;
      }
    }
  }
  #mobile-nav-btn.open {
    span {
      &:nth-child(1){
        top: 18px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
      }
      &:nth-child(2){
        opacity: 0;
        left: -60px;
      }
      &:nth-child(3){
        top: 18px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
    }
  }
  .navigation-visibility {
    top: -2000px;
    transition: all 1s linear;
  }
  //------ header mobile navigation styles
}

@media screen and (max-width: 600px) {
  //---- header styles
  .header-slider {
    .slick-arrow {
      top: auto;
      bottom: -155px;
    }
    .slick-next {
      right: 40px;
    }
    .slick-prev {
      left: 40px;
    }
  }
  //---- header styles

  //-----main styles
  .server-news {
    &__title {
      h4 {
        width: 100%;
        transform: none;
        &:after {
          margin-left: 0;
          bottom: -10px;
          left: 0;
        }
      }
    }
  }
  //-----main styles
}

@media screen and (max-width: 425px) {
  //---- header styles
  .header-slider {
    .one-slide {
      .slide-container {
        h3 {
          font-size: 26px;
        }
        p {
          font-size: 16px;
        }
      }
    }
  }
  //---- header styles
}