//= template/head.html

<header>
    <div class="content">
        <div class="header-content">
            <div id="mobile-nav-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="header-content__top navigation-visibility" id="mobile-nav">
                <nav class="navigation">
                    <ul>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Info</a></li>
                        <li><a href="#">Forums</a></li>
                        <li><a href="#">Rules</a></li>
                    </ul>
                </nav>
                <div class="registration-nav">
                    <a href="#">Log In</a>
                    <a href="#">Registration</a>
                </div>
            </div>
            <div class="header-content__bottom">
                <div class="header-slider">
                    <div class="one-slide">
                        <div class="slide-container">
                            <h3 class="after-line">
                                A Path<br>
                                TO AWAKENING
                            </h3>
                            <p>
                                You guide<br>
                                for leveling up fast!
                            </p>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="slide-container">
                            <h3 class="after-line">
                                A Path<br>
                                TO AWAKENING
                            </h3>
                            <p>
                                You guide<br>
                                for leveling up fast!
                            </p>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="slide-container">
                            <h3 class="after-line">
                                A Path<br>
                                TO AWAKENING
                            </h3>
                            <p>
                                You guide<br>
                                for leveling up fast!
                            </p>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="slide-container">
                            <h3 class="after-line">
                                A Path<br>
                                TO AWAKENING
                            </h3>
                            <p>
                                You guide<br>
                                for leveling up fast!
                            </p>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="slide-container">
                            <h3 class="after-line">
                                A Path<br>
                                TO AWAKENING
                            </h3>
                            <p>
                                You guide<br>
                                for leveling up fast!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="social">
        <div class="social__one">
        <a href="#">FOLLOW US!</a>
        <span class="fb-icon">
                <img src="img/facebook.svg" alt="our facebook, join!">
            </span>
    </div>
        <div class="social__one">
            <a href="#">FOLLOW US!</a>
            <span class="fb-icon">
                <img src="img/facebook.svg" alt="our facebook, join!">
            </span>
        </div>
    </div>
    <div class="quick-donation">
        <button>QUICK DONATION</button>
    </div>
</header>

<main>
    <div id="to-top">
        <div class="sword"></div>
        <p>To Top</p>
    </div>
    <div class="content">
        <div class="main-content">
            <div class="server-news">
                <div class="server-news__title">
                    <h4>Server news</h4>
                </div>
                <div class="server-news__some-news">
                    <div class="one-news">
                        <h6 class="after-line">Path of awakening</h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                    <div class="one-news">
                        <h6 class="after-line">Path of awakening</h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                    <div class="one-news">
                        <h6 class="after-line">Path of awakening</h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-bottom-bg"></div>
</main>

//= template/footer.html


